*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(11,0,27);
    background: linear-gradient(90deg, rgba(11,0,27,1) 22%, rgba(17,0,42,1) 100%); 
font-family: 'Poppins', sans-serif;
color: white;
font-size: 1rem;
font-weight: 400;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header h3{
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
}

.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
margin-top: 3rem;

}

button{
    width: 20rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: #2263EB;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

button:hover{
background-color: #364FC7;

}

#portifolio a{
    text-decoration: none;
    color: white;
}

#setup a{
    text-decoration: none;
    color: white;
}

#linkedin a{
    text-decoration: none;
    color: white;
}

#github a{
    text-decoration: none;
    color: white;
}


#developed{
    display: flex;
    justify-content: center;
   margin-top: 1rem;
    font-size: 0.7rem;
}
#developed span{
    font-weight: 600;
}

header img{
   margin-left: 5rem;
    width: 7.5rem;
    height: 7.5rem;
}
